#cabecalho {
    width: 100%;
    position: fixed;
    top: 0%;
    padding: 10px;
    background-color: rgb(66, 86, 128);
    text-align: center;
    color: white;
    z-index: 10;
}

body {
    background-color: azure;
    margin-top: 120px;
    height: 2500px;
}

.caixa{
    padding: 20px;
    margin: 20px;
    background-color: rgb(131, 133, 219);
}

.exemplo-block div{
display: block;
}

.exemplo-inline div{
display: inline;
}

.exemplo-inline-block div{
display: inline-block;
}

.exemplo-flex div{
display: flex;
}

.exemplo-inline-flex div{
display: inline-flex;
}
.exemplo-table div{
display: table;
}



.exemplo-grid div{
display: inline-flex;
}

.exemplo-static div{
position: static;
}

.exemplo-absolute{
position: absolute;
left: 600px;
}

.sticky{
position: sticky;
top: 120px;

}

.caixa-amarela{
    padding: 20px;
    margin: 20px;
    background-color: rgb(213, 219, 131);
}

.caixa-absolute{
   
    background-color: rgb(131, 133, 219);
}













































































































































































































































































































































































































































































































































































































