#cabecalho {
    width: 100%;
    position: fixed;
    top: 0%;
    padding: 10px;
    background-color: rgb(66, 86, 128);
    text-align: center;
    color: white;
}

body {
    background-color: azure;
    margin-top: 120px;
}

.caixa{
    padding: 20px;
    margin: 20px;
    background-color: rgb(131, 133, 219);
}

.exemplo-block div{
display: block;
}

.exemplo-inline div{
display: inline;
}

.exemplo-inline-block div{
display: inline-block;
}

.exemplo-flex div{
display: flex;
}

.exemplo-inline-flex div{
display: inline-flex;
}

.exemplo-grid div{
display: inline-flex;
}





















































































































































































































































































































































































































































































































































































































